@using GameLogic
@using GameLogic.Enums;
@model GameLogic.GameObjects.Cell[,];

@for (int x = 0; x < 3; ++x)
{
    @for (int y = 0; y < 3; ++y)
    {
        <div class="cell" style="grid-row: @(x + 1)/@(x + 2); grid-column: @(y + 1)/@(y + 2);">
            @if (Model[x, y].CellState == CellState.Emptiness)
            {
                <button type="button" class="btn btn-outline-secondary cellButton" data-location="@Model[x, y].CellLocation.ToString()"></button>
            }
        </div>
    }
}

<script>
    function makeStep() {
        $.ajax({
            url: @Url.Action("MakeStep", "Game", Game.CurrentlyPressedButton),
            error: (jqXHR, exception) => {
                console.log(jqXHR);
                console.log(exception);
            },
            success: () => {
                console.log();
            },
            dataType: "json"
        });
    }
</script>
