@using GameLogic
@using static GameLogic.Game;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Tic-Tac-Toe</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body id="home">
    <div class="main">
        <div class="main_wins-table">

        </div>

        <div class="main_game-table">
            @Html.Partial("GameTable.cshtml", Game.Cells)
        </div>
    </div>

    <script defer src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="~/js/site.js"></script>
</body>
</html>